<!DOCTYPE html>
<html>
  <head>
    <title>Jumbo Smash</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
<body>
  <h1 id='jumbotron'>
    <span id='jumbo'>JUMBO</span>
    <span class='smash'>Smash</span>
    <%= image_tag 'jumboheart.png' %>
  </h1>
  <%= yield %>

</body>
</html>
